<div class="top">
  <div class="top-title">
    <h1>ようこそ <span>Bookers</span> へ !</h1>
  </div>
  <div class="top-body">
    <p><span>Bookers</span> では、さまざまな書籍に関するあなたの意見や</p>
    <p>印象を共有し交換することができます</p>

    <%= link_to "start", "/books", class: "link" %>
  </div>