/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-title,.top-body span,.index-title,table tr th,.error_explanation h5,.new-title,.show-title,.show-body,.edit-title{
  font-family: Verdana,sans-serif;
}

body{
  margin: 30px;
  font-family: sans-serif;
}


.top-title{
  font-size: 13px;
}

.top-body{
  font-size: 13px;
  line-height: 55px;
  padding-left: 30px;
}

table{
  font-size: 13px;
  padding: 5px;
}

table th{
  text-align: center;
}

table td{
  padding: 5px;
}

.error_explanation{
  width: 450px;
  height: 130px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin: 10px 0;
  background-color: #f0f0f0;
}

.error_explanation h5{
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

.error_explanation ul{
  margin: 30px 130px 20px 60px;
  font-size: 12px;
  list-style-type: square;
}

#notice{
  color: green;
  font-size: 14px;
  padding: 0 0 30px 30px;
}

.index-title{
  font-size: 17px;
  padding-bottom: 10px;
}

.new,.edit{
  padding-top: 10px;
}

.new p{
  font-size: 13px;
}

.submit{
  width: 90px;
  height: 20px;
}

.show{
  font-size: 13px;
  line-height: 45px;
}

.top-body span,.show-title,.show-body{
  font-weight: bold;
}

.show p{
  padding-left: 30px;
}

.edit-title{
  padding:5px 0;
}

.edit{
  font-size: 13px;
}

.link{
  font-size: 14px; 
  font-family: "arial unicode ms";
  color: #000000;
}

.link:hover{
  color: #ffffff;
  background-color: #000000;
}